// 默认
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961


// 自定义
// 主色蓝
$accentColor = #3b8eff
$textColor = #004050
$borderColor = #eaecef
$codeBgColor = #282c34
$secondaryColor = #33CCFF

// 布局
$contentWidth = 850px


// 主题颜色
$darkColor10 = rgba(0, 0, 0, 1)
$darkColor9 = rgba(0, 0, 0, .9)
$darkColor8 = rgba(0, 0, 0, .8)
$darkColor7 = rgba(0, 0, 0, .7)
$darkColor6 = rgba(0, 0, 0, .6)
$darkColor5 = rgba(0, 0, 0, .5)
$darkColor4 = rgba(0, 0, 0, .4)
$darkColor3 = rgba(0, 0, 0, .3)
$darkColor2 = rgba(0, 0, 0, .2)
$darkColor1 = rgba(0, 0, 0, .1)

$lightColor10 = rgba(255, 255, 255, 1)
$lightColor9 = rgba(255, 255, 255, .9)
$lightColor8 = rgba(255, 255, 255, .8)
$lightColor7 = rgba(255, 255, 255, .7)
$lightColor6 = rgba(255, 255, 255, .6)
$lightColor5 = rgba(255, 255, 255, .5)
$lightColor4 = rgba(255, 255, 255, .4)
$lightColor3 = rgba(255, 255, 255, .3)
$lightColor2 = rgba(255, 255, 255, .2)
$lightColor1 = rgba(255, 255, 255, .1)
